include head
body

	div#notfound
		div.notfound
			div.notfound-404
			h1 404
			h2 Oops! Page Not Be Found
			p Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable
			a(href="/") Back to homepage


