html(lang="en")
    head
            style 
                include ./style.css
                include ../node_modules/bootstrap/dist/css/bootstrap.min.css
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge")
            title Netflix
            meta(name="viewport" content="width=device-width, initial-scale=1")
            block style