section.link
    div.logos
        a(href="#")
            i.fab.fa-facebook-square.fa-2x.logo
        a(href="#")
            i.fab.fa-instagram.fa-2x.logo
        a(href="#")
            i.fab.fa-twitter.fa-2x.logo
        a(href="#")
            i.fab.fa-youtube.fa-2x.logo
    div.sub-links
            ul
                li
                    a(href="#") Audio and Subtitles
                li
                    a(href="#") Audio Description
                li
                    a(href="#") Help Center
                li
                    a(href="#") Gift Cards
                li
                    a(href="#") Media Center
                li
                    a(href="#") Investor Relations
                li
                    a(href="#") Jobs
                li
                    a(href="#") Terms of Use
                li
                    a(href="#") Privacy
                li
                    a(href="#") Legal Notices
                li
                    a(href="#") Corporate Information
                li
                    a(href="#") Contact Us

    footer
       p &copy 2023 Netflix, Inc.
       p Taha Osman Varol &copy 2023