header
    div.netflixLogo
        a#logo(href="/")
            img(src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" alt="Logo Image"  )      
    nav.main-nav                
        a(href="/") Home
        a(href="/category/1") Cinema Series
        a(href="/category/2") Movies
    nav.sub-nav
        a(href="#") 
            i.fas.fa-search.sub-nav-logo
        a(href="#")
            i.fas.fa-bell.sub-nav-logo
        a(href="#") Account    